.button {
    border: solid 1px $button-border-color;
    border-radius: 4px;
    color: $button-color;
    display: inline-block;
    font-weight: bold;
    padding: 15px 45px;
    text-decoration: none;
    transition: all .3s cubic-bezier(.5, .03, .5, .8);

    &:hover {
        background: $button-active-background-color;
        border-color: $button-active-border-color;
        color: $button-active-color;
    }
}
