.tab {
    &__head {
        list-style: none;
        margin: 0 0 -1px;
        padding: 0;

        li {
            background: $tab-background-color;
            border: 1px solid $tab-border-color;
            display: inline-block;
            font-weight: bold;
            z-index: 100;

            &.is-open {
                border-bottom-color: transparent;
            }
        }

        a {
            color: inherit;
            display: block;
            font-size: 16px;
            line-height: 2.5;
            padding: 0 10px;
            text-decoration: none;
            white-space: nowrap;
        }
    }

    &__item {
        &.beefup {
            border-radius: 0;
            display: none;
            margin: 0;

            &.is-open {
                display: block;
            }
        }

        .beefup__head {
            display: none;
        }
    }
}
