{
  "env": {
    "node": true,
    "browser": true,
    "jest/globals": true
  },
  "globals": {
    "jQuery"
  },
  "parserOptions": {
    "ecmaVersion": 5
  },
  "extends": "@schascha/eslint-config",
  "plugins": [
    "jest"
  ]
}
