.button {
	transition: all 0.3s ease-out;
	display: inline-block;
	padding: 10px 20px;
	border: solid 1px $button-border-color;
	border-radius: 4px;
	color: $button-color;
	font-weight: bold;
	text-decoration: none;
	white-space: nowrap;

	&:hover {
		background: $button-active-background-color;
		border-color: $button-active-border-color;
		color: $button-active-color;
	}

	svg {
		margin-right: 0.25em;
		vertical-align: bottom;
		fill: currentColor;
	}
}
