html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}
