html {
	background: $color-background;
}

header,
footer,
main {
	display: block;
}

header,
footer {
	padding: 40px 20px;
	text-align: center;
}

main {
	margin: 0 auto;
	max-width: 1240px;
	padding: 40px 20px;
}

header {
	background: $color-white;
	padding-top: 40px;
}

footer {
	> p {
		font-size: 16px;
		margin: 0;
	}
}

article {
	display: block;
	background: $color-white;
}
