html {
    background: $color-background;
}

header,
footer,
main {
    padding: 40px 10%;
}

header,
footer {
    text-align: center;
}

header {
    background: $color-white;
    padding-top: 40px;
}

footer {
    > p {
        font-size: 16px;
        margin: 0;
    }
}

article {
    background: $color-white;
}
