@import "../../demo/scss/_base.scss";

// BeefUp

.beefup-head {
    margin-bottom: 0;

    > a {
        color: inherit;
        cursor: pointer;
        display: block;
        overflow: hidden;
        padding-right: 30px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-decoration: none;

        &::after {
            border-style: solid;
            border-width: 10px 10px 0 10px;
            border-color: #ddd transparent transparent transparent;
            content: '';
            position: absolute;
            right: 0;
            height: 0;
            margin-top: -5px;
            top: 50%;
            width: 0;
        }

        .beefup:target > .beefup-head > &::after {
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #ddd transparent;
        }
    }
}

.beefup-body {
    display: none;
    padding: 20px 0 0;

    .beefup:target > & {
        display: block;
    }
}

// Slide animation

.beefup-slide {
    > .beefup-body {
        display: block;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        transition: max-height .8s;
    }

    &:target > .beefup-body {
        max-height: 1000px;
        padding: 20px 0 0;
    }
}

// Fade animation

.beefup-fade {
    > .beefup-body {
        display: block;
        max-height: 0;
        padding: 0;
        opacity: 0;
        overflow: hidden;
        transition: opacity .8s;
    }

    &:target > .beefup-body {
        max-height: 1000px;
        opacity: 1;
        padding: 20px 0 0;
    }
}