// Basics

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

// Typography

body {
    color: #222;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 40px;

    > span {
        display: block;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
    }
}

h2 {
    font-size: 32px;
    line-height: 42px;
}

h3 {
    font-size: 28px;
    line-height: 36px;
}

h4, h5, p {
    font-size: 24px;
    line-height: 36px;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

h2, h3, h4, h5, p {
    margin-bottom: 20px;
}

hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 40px 0;
    height: 0;
}

pre {
    background: #edf0f3;
    font-family: Courier, monospace;
    font-size: 0.85em;
    font-style: normal;
    font-weight: normal;
    margin: 8px 0;
    overflow: auto;
    padding: 20px;
    position: relative;
    tab-size: 2;
    line-height: 1.6;
    -webkit-font-smoothing: auto;
}

// Basic Layout

header, footer, main {
    padding: 40px 10%;
}

header, footer {
    text-align: center;
}

header {
    margin-top: 40px;
}

footer {
    > p {
        font-size: 16px;
        margin: 0;
    }
}

// Buttons

.button {
    border: solid 1px #ddd;
    border-radius: 4px;
    color: #596068;
    display: inline-block;
    font-weight: bold;
    padding: 15px 45px;
    text-decoration: none;

    &:hover {
        background: #596068;
        border-color: #596068;
        color: #fff;
    }
}

// Tabs

.tab {
    &__head {
        list-style: none;
        margin: 0 0 -1px;
        padding: 0;

        li {
            background: white;
            border: 1px solid #ddd;
            display: inline-block;
            font-weight: bold;
            z-index: 100;

            &.is-open {
                border-bottom-color: transparent;
            }
        }

        a {
            color: inherit;
            display: block;
            font-size: 16px;
            line-height: 2.5;
            padding: 0 10px;
            text-decoration: none;
            white-space: nowrap;
        }
    }

    &__item {
        &.beefup {
            border-radius: 0;
            display: none;
            margin: 0;

            &.is-open {
                display: block;
            }
        }

        .beefup__head {
            display: none;
        }
    }
}

// Dropdown

.dropdown {
    &__menu {
        li {
            font-size: 16px;
        }

        a {
            clear: both;
            color: inherit;
            display: block;
            padding: 3px 10px;
            text-decoration: none;
            white-space: nowrap;

            &:hover {
                background-color: #f5f5f5;
            }
        }
    }

    &.beefup {
        border: 0;
        border-radius: 0;
        display: inline-block;
        margin: 0;
        padding: 0;
        position: relative;

        &.is-open .beefup__head::after {
            border-width: 0 4px 4px 4px;
            border-color: transparent transparent #222 transparent;
        }
    }

    .beefup__head {
        background: white;
        border: 1px solid #ddd;
        border-radius: 4px;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        line-height: 2.5;
        margin-bottom: 0;
        padding: 0 30px 0 10px;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;

        &::after {
            border-style: solid;
            border-width: 4px 4px 0 4px;
            border-color: #222 transparent transparent transparent;
            margin-top: -2px;
            right: 10px;
        }
    }

    .beefup__body {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }
}
