html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0; font: inherit; font-size: 100%; margin: 0; padding: 0; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

*, *::before, *::after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { color: #222; font-family: 'Roboto', sans-serif; font-weight: 300; }

h1 { font-size: 48px; line-height: 56px; margin-bottom: 40px; }
h1 > span { display: block; font-weight: normal; font-size: 24px; line-height: 36px; }

h2 { font-size: 32px; line-height: 42px; }

h3 { font-size: 28px; line-height: 36px; }

h4, h5 { font-size: 24px; line-height: 36px; }

p { font-size: 24px; line-height: 36px; }

h1, h2, h3, h4, h5 { font-weight: bold; }

h2, h3, h4, h5, p { margin-bottom: 20px; }

hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 40px 0; height: 0; }

article { border: 1px solid #ddd; border-radius: 4px; padding: 10px 20px; }

article + article { margin-top: 40px; }

header, footer, main { padding: 40px 10%; }

header, footer { text-align: center; }

header { margin-top: 40px; }

footer > p { font-size: 16px; margin: 0; }

.button { border: solid 1px #ddd; border-radius: 4px; color: #596068; display: inline-block; font-weight: bold; padding: 15px 45px; text-decoration: none; }
.button:hover { background: #596068; border-color: #596068; color: #fff; }

.beefup-head { margin-bottom: 0; }
.beefup-head > a { color: inherit; cursor: pointer; display: block; overflow: hidden; padding-right: 30px; position: relative; text-overflow: ellipsis; white-space: nowrap; text-decoration: none; }
.beefup-head > a::after { border-style: solid; border-width: 10px 10px 0 10px; border-color: #ddd transparent transparent transparent; content: ''; position: absolute; right: 0; height: 0; margin-top: -5px; top: 50%; width: 0; }
.beefup:target > .beefup-head > .beefup-head > a::after { border-width: 0 10px 10px 10px; border-color: transparent transparent #ddd transparent; }

.beefup-body { display: none; padding: 20px 0 0; }
.beefup:target > .beefup-body { display: block; }

.beefup-slide > .beefup-body { display: block; max-height: 0; padding: 0; overflow: hidden; transition: max-height .8s; }
.beefup-slide:target > .beefup-body { max-height: 1000px; padding: 20px 0 0; }

.beefup-fade > .beefup-body { display: block; max-height: 0; padding: 0; opacity: 0; overflow: hidden; transition: opacity .8s; }
.beefup-fade:target > .beefup-body { max-height: 1000px; opacity: 1; padding: 20px 0 0; }
