@import "_base";

// BeefUp

.beefup-head {
    cursor: pointer;
    margin-bottom: 0;
    overflow: hidden;
    padding-right: 30px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:after {
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #ddd transparent transparent transparent;
        content: '';
        position: absolute;
        right: 0;
        height: 0;
        margin-top: -5px;
        top: 50%;
        width: 0;
    }

    .open > &:after {
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent #ddd transparent;
    }
}

.beefup-body {
    padding: 20px 0 0;
}